header{
    text-align: center;
    background-image: url(../donate-today/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 400px;
    padding:50px;
 }
 .header{
    font-size: 40px;
    color:white;
    margin-bottom: 15px;
 }
 span{
    color:orangered;
 }
  .header-p{
    font-size: 15px;
    color:aliceblue;
    margin-bottom: 15px
  }
  .button-all{
    color:white;
    background-color:goldenrod;
    padding: 10px;
    border:none;
    margin-bottom: 20px;
  }
  .section-1{
    text-align: center;
  }
 .section-data{
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    font-size: 25px;
    margin: 0 20px;
    padding: 15px;
    
 }
  .section-title{
    font-size: 30px;
    color: black;
    margin-top: 50px;
    padding-top: 30px;
  }
   .section-description{
    color: #757575;
    font-size: 12px;
   }
   .taka{
    background-color: aliceblue;
    margin: 15px;
    padding: 20px;
   }
   .taka:hover{
    background-color:red;
   }
   input{
    width:auto;
    padding: 12px 15px 12px 30px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid blanchedalmond;
   }
   .section-2{
    text-align: center;
   }
   .section-plan{
    display: flex;
    margin-top: 30px;
    padding: 40px;
    box-shadow: 20px;
   }
   .plan-p{
    font-size: 10px;
   }
   .food-plan{
    background-color:bisque;
    margin: 30px;
    padding: 20px;
   }
   .shelter-plan{
    background-color: aquamarine;
    margin: 30px;
    padding: 20px;
   }
   .edu-plan{
    background-color:antiquewhite;
    margin: 30px;
    padding: 20px;
   }
   .section-3{
    display: flex;
   }
   h1{
    font-size: 30px;
    color: black;
   }
   .depend-p{
    font-size: 15px;
    color: #757575;
    margin-bottom: 20px;
   }
   .depend{
    margin:30px;
    padding: 25px;
   }
   .section-4{
    display: flex;
   }
   .survive-p{
    font-size: 15px;
    color: #757575;
    margin-bottom: 20px;
   }
   .survive{
    margin:30px;
    padding: 25px;
   }
   .section-5{
    text-align: center;
   }
   .Updates{
    font-size: 14px;
    color: #757575;
   }
   input{
    color:black;
    height: 25px;
    border-radius: 0px;
    padding:5px ;
    background-color:white;
    border: 2px solid black;
   }
   .button{
    margin: 30px 60px 30px 100px;
    padding: 30px;
    background-color: antiquewhite;
    width: 600px;
    height: 100px;s
   }
   .mahadi{
    display:flex;
    justify-content:right;
    margin-top:100px;
   }
   h3{
    margin:0px;
    padding:0;
    color: blueviolet;
   }
   h1{
    margin: 5px;
    padding: 5px;
    color:orangered;
   }
   p{
    color:red;
    margin: 0;
    padding: 0%;
   }
   footer{
    text-align: center;
    background-color: black;
    width: cover;
    height: 100px;
    margin-top: 30px;
    padding-top: 30px;
   }
   .footer{
    font-size: 25px;
    color: brown;
   }
   .foot{
    font-size:14px;
    color:white;
   }