header{
    text-align: center;
    background-image: url(../donate-today/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 400px;
    padding:50px;
 }
 .header{
    font-size: 40px;
    color:white;
    margin-bottom: 15px;
 }
 span{
    color:orangered;
 }
  .header-p{
    font-size: 15px;
    color:aliceblue;
    margin-bottom: 15px
  }
  .button-all{
    color:white;
    background-color:goldenrod;
    padding: 10px;
    border:none;
    margin-bottom: 20px;
  }
  .section-1{
    text-align: center;
  }
 .section-data{
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    font-size: 25px;
    margin: 0 20px;
    padding: 15px;
    
 }
  .section-title{
    font-size: 30px;
    color: black;
    margin-top: 50px;
    padding-top: 30px;
  }
   .section-description{
    color: #757575;
    font-size: 12px;
   }
   .taka{
    background-color: aliceblue;
    margin: 15px;
    padding: 20px;
   }
   .taka:hover{
    background-color:red;
   }
   input{
    width:auto;
    padding: 12px 15px 12px 30px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid blanchedalmond;
   }
   .section-2{
    text-align: center;
   }
   .section-plan{
    display: flex;
    margin-top: 30px;
    padding: 40px;
    box-shadow: 20px;
   }
   .plan-p{
    font-size: 10px;
   }
   .food-plan{
    background-color:bisque;
    margin: 30px;
    padding: 20px;
   }
   .shelter-plan{
    background-color: aquamarine;
    margin: 30px;
    padding: 20px;
   }
   .edu-plan{
    background-color:antiquewhite;
    margin: 30px;
    padding: 20px;
   }